@{
    ViewBag.Title = "Home Page";
}


    <div class="jumbotron">
        <h1>Bem vindo a Aplicação D1</h1>
        <p class="lead">Esta aplicação foi desenvolvida, seguindo as especificações D1
        foi ultilizao as seguintes tecnologias:</p>
        <div class="row-fluid">
            <div class="span3 well well-nice bg-blue-light">
                <h3 class="simple-header">MongoDB </h3>
                <p>Banco de Dados como Serviço <code>.bg-blue-light</code> </p>
            </div>
            <!-- // Column -->

            <div class="span3 well well-nice bg-green-light">
                <h3 class="simple-header">C# .NET FRAMEWORK</h3>
                <p>Modelo (camada de negócios),Visualizar (camada de exibição),Controlador (controle de entrada) <code>.bg-green-light</code>.
                </p>
            </div>
            <!-- // Column -->

            <div class="span3 well well-nice bg-yellow-light">
                <h3 class="simple-header">BOOTSTRAP</h3>
                <p>Desenvolvimento web front-end é a prática de converter dados em uma interface gráfica, através do uso de HTML, CSS e JavaScript <code>.bg-yellow-light</code>.</p>
            </div>
            <!-- // Column -->

            <div class="span3 well well-nice bg-gray-light">
                <h3 class="simple-header">Visual Studio 2019</h3>
                <p>Microsoft Visual Studio é um ambiente de desenvolvimento integrado da Microsoft para desenvolvimento de software especialmente dedicado ao .NET Framework e às linguagens Visual Basic <code>.bg-gray-light</code>.</p>
            </div>
        </div>
        <p><a href="https://linkedin.com/in/clovis-silva-a3b0145a" class="btn btn-primary btn-lg">By Clovis Silva</a></p>
    </div>

